@import "node_modules/bootstrap/scss/bootstrap";

.row > .ms-col-6{
    max-width: calc(50% - 20px);
}
.card{
    min-height: 200px;
}
.show-more{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-left: -6px;
}